/*Mobile Slider navigation CSS*/

#responsive-menu-button {
    display: none;
    font-size: 20px;
    text-align: left;
    margin-left: 5px;
}
#responsive-menu-button span{
	padding-left: 12px;
	padding-right: 12px;
}

/*Media Queries*/
@media only screen and (max-width: 767px){
	/*general*/
	body {
  		left: 0;
  		margin: 0;
  		overflow: hidden;
  		position: relative;
	}

	.container-fluid {
		display: flex;
		justify-content: space-between;
		margin: 0;
		padding: 0;
	}

	/*panel*/
	.pac-container { 
		margin-left:-250px !important; 
		min-width: 35%; 
	}
	.content-panel{
		top:0;
		left: -60%;  /* start off behind the scenes */
  		height: 100%;
  		position: fixed;
  		width: 60%;
  		padding: 15px;
		height: 100%;
		max-height: 100%;
		border-radius: 0;
  		-moz-box-shadow:    inset 0 0 20px rgba(179, 179, 179, 0.67);
		-webkit-box-shadow: inset 0 0 20px rgba(179, 179, 179, 0.67);
   		box-shadow: 		inset 0 0 20px rgba(179, 179, 179, 0.67);
    	border-right: 		1px solid rgba(153, 153, 153, 0.57);
	}
	
	/*Nav Bar*/
	#head {
		height: 60px;
	}
	
	h1 {
		font-size: 1.75em;
		line-height: 60px;
		padding: 0;
		margin: 0;
	}

	.navbar-btn, .navbar-nav {
		margin: 0;
	}

	.navbar-header {
		width: 60%;
	}
	
	#displayButtons {
		padding: 0;
		margin: 0;
		width: 25%;
		line-height: 60px;
	}

	#responsive-menu-button {
    	display: inline-block;
    	margin: 0;
    	padding: 0;
    	font-size: 1.38em;
    	line-height: 50px;
    }

	#logIn-button, #question-button {
    	font-size: 1.38em;
    	line-height: 50px;
    	float: right;
	}
}

@media only screen and (max-width: 480px){
	/*Nav Bar*/
	h1 {
		font-size: 1.4em;
		margin-left: -20px;
	}
	.navbar-header {
    	width: 50%;
	}

	.navbar-btn, .navbar-nav {
		margin: 0;
	}

	#displayButtons {    	
    	line-height: 60px;
    	width: 20%;
    	margin-right: -20px;
	}

	#displayButtons span, 
	#responsive-menu-button span{
		padding-left: 6px;
		padding-right: 6px;
	}

	#logIn-button, #question-button, #responsive-menu-button {
		font-size: 1.2em;
	}
	
	#responsive-menu-button{
		margin-left: -20px;
	}

	/*Modal*/
	.modal-header, .display-info {
		line-height: 1.5;
	}

	.modal-footer {
		padding: none;
	}
	.display-info{
		padding: 10px;
	}

}

@media only screen and (max-width: 400px){
	h1{
		font-size: 1.13em;
		margin-left: -10px;
	}
	#displayButtons span, #responsive-menu-button span{
		padding-left: 2px;
		padding-right: 2px;
	}	

}