/*Mobile Slidr navigation CSS*/

#responsive-menu-button {
    display: none;
    padding: 20px;
    font-size: 20px;
    text-align: left;
    margin-left: 5px;
    text-align: left;
    color: #fff;
    vertical-align: center;
}

/*Media Queries*/
@media only screen and (max-width: 767px){
	body {
  		left: 0;
  		margin: 0;
  		overflow: hidden;
  		position: relative;
	}

	.pac-container { 
		margin-left:-250px !important; 
		min-width: 35%; 
	}
	.content-panel{
		top:0;
		left: -60%;  /* start off behind the scenes */
  		height: 100%;
  		position: fixed;
  		width: 60%;
  		padding: 15px;
		height: 100%;
		max-height: 100%;
		border-radius: 0;
  		-moz-box-shadow:    inset 0 0 20px rgba(179, 179, 179, 0.67);
		-webkit-box-shadow: inset 0 0 20px rgba(179, 179, 179, 0.67);
   		box-shadow: 		inset 0 0 20px rgba(179, 179, 179, 0.67);
    	border-right: 		1px solid rgba(153, 153, 153, 0.57);
	}

	h1 {
		font-size: 1.75em;
		line-height: 60px;
		text-align: center;
		padding: 0;
		margin: 0;
	}
	#responsive-menu-button {
    	display: inline-block;
    	margin: 0;
    	padding: 0;
    	line-height: 60px;
	}

	.navbar-btn, .navbar-nav {
		margin: 0;
	}

	#head {
		height: 60px;
	}
	
	#displayButtons {
		padding: 0;
		margin: 0;
		width: 25%;
		line-height: 60px;
	}

	.navbar-header {
		width: 60%;
	}
	
	.container-fluid {
		display: flex;
		justify-content: space-between;
		margin: 0;
		padding: 0;
	}

	#logIn-button, #question-button {
    	color: #fff;
    	background: none;
    	font-size: 1.38em;
    	margin-right: 20px;
    	line-height: 50px;
    	float: right;
	}
}

@media only screen and (max-width: 480px){

	h1 {
		font-size: 1.45em;
		text-align: center;
	}
	.navbar-header {
    	width: 50%;
	}

	.navbar-btn, .navbar-nav {
		margin: 0;
	}

	#logIn-button, #question-button {
		font-size: 1.2em;
		margin-right: 10px;
	}
	
	#displayButtons {    	
    	line-height: 60px;
    	width: 20%;
	}

	.modal-header, .display-info {
		line-height: 1.5;
	}

	.modal-footer {
		padding: none;
	}
	.display-info{
		padding: 10px;
	}

	#displayButtons {
		margin-right: -20px;
	}
}
@media only screen and (max-width: 370px){
	h1{
		font-size: 1.25em;
	}
	#logIn-button, #question-button {
		margin-right: 6px;
	}
}