/*GENERAL*/
html, body {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding: 0;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 400;
}

#head {
	background-color: #00b7ce;
	width: 100%;
	height: 70px;
	position: absolute;
	top: 0;
	z-index: 100;
	-moz-box-shadow:    0 0.1em 0.55em 0 rgba(0, 117, 132, 0.92);
 	-webkit-box-shadow: 0 0.1em 0.55em 0 rgba(0, 117, 132, 0.92);
	box-shadow: 		0 0.1em 0.55em 0 rgba(0, 117, 132, 0.92);
	border-radius: 0px;
}

h1 {
	margin: 0;
	padding: 0 20px;
	text-align: left;
	line-height: 70px;
	font-family: 'Pacifico', cursive;
	font-size: 2.5em;
	color: #fff;
}

a {
    color: #333;
    text-decoration: none;
}

.form-control {
	font-size: 16px;
}

/*MAP POSITIONING*/
#map {
    height: 100vh;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    position: absolute;
	top: 0;
    bottom: 0;
	right: 0;
    z-index: 1;
}

/*ADDRES LOOKUP PANEL AND TABS*/
.tab-content {
	width: 100%;
}

.content-panel {
	background-color: #fff;
	margin: 0;
	padding: 0;
	position: absolute;
	left: 20px;
	top: 85px;
    width: 25%;
    z-index: 500;
    padding: 15px;
    -moz-box-shadow:    1px 2px 10px 1px rgba(47, 47, 47, 0.25);
 	-webkit-box-shadow: 1px 2px 10px 1px rgba(47, 47, 47, 0.25);
	box-shadow: 		1px 2px 10px 1px rgba(47, 47, 47, 0.25);
	border-radius: 15px;
	height: 85%;
	max-height: 85%;
	display: flex;
	justify-content: center;
}

label{
	margin: 0;
	padding: 0;
	padding-bottom: 3px;
}

#user-form {
	width: 95%;
}
#user-tabs{
	width: 95%;
}

.form-group {
	margin: 12px;
}
#favorites p{
	padding-top: 12px;
}
#favorites a{
	color: #00b7ce;
}

#favorites a:hover {
	color: #E2F389;
}

/*BUTTONS*/
#button-submit {
    border: none;
    text-align: center;
    width: 70%;
    padding: 5px;
    border-radius: 5px;
    background-color: #ff7d7d;
    margin-top: 10px;
    color: #fff;
    margin: 10px auto;
    cursor: pointer;
}

.modal-open .modal,.btn:focus{
    outline:none!important
}

#button-submit:hover, 
#modal-submit:hover 
{
	background-color: #f27171;
}

#button-submit:active, 
#modal-submit:active{
	background-color: #cc5151;
}

#modal-submit{
	background-color: #ff7d7d; 
	color: #fff;
}
#displayButtons{
    text-align: right;
	margin-right: 6px;
}
#displayButtons span, 
#responsiv-menu-button span{
	padding-left: 12px;
	padding-right: 12px;
}

#logIn-button, #question-button, #responsive-menu-button {
    color: #fff;
    background: transparent;
    font-size: 1.6em;
    line-height: 60px;
    padding: 3px;
}

.navbar-btn {
    margin-top: 0px;
    margin-bottom: 0px;
}
.display-info{
	line-height: 2;
	padding: 20px;
}